/* *****************nav*********************** */


/* ******* nav bar **** */

.nav-bar{
    padding: auto;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon-nav{
    margin: 0.5rem;
    background-color: aliceblue;
}
.icon-div{
    margin-left: 6rem;


}





/* *****************nav*********************** */












body{
    color: aliceblue;
    background-color: black;
   
}

/* *******************  nav ************************** */


.footer{
    visibility:hidden;
}
.nav-div{
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100%;
    background-color: rgb(4, 6, 8);
}

.nav-container{
    display: flex;
    background-color: black;
    
}
.nav-heading{
    font-size: 2.3rem;
    margin-top: 0px;
}
.form{
    margin-top: 1.5rem;
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: 1rem;

}

.submit-button{
    background-color: red;
    border-color: black;
    color: aliceblue;
    font-size: 1rem;
}
.color-change{
    color: red;
}
.list-item{
    margin-left: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    text-decoration: none;
    color: black;

}
.list{
    font-size: 2rem;
    margin: 1rem;
    
}
.nav-links{
    text-decoration: none;
    color: aliceblue;
}






/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 15vh;
    background-color: black;
    color: bisque;
}









/* ********************       main div         ******************************* */


.main-div{
    display: grid;
    margin-top: 5rem;
    grid-template-columns:  80% 30% 30%;
}


.links-div{
    /* margin-top: 4rem; */
    position: fixed;
}

#unorder{
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    
}
.link-items{
    text-decoration: none;
    color: white;
}
.content-div{
    margin-left: 20rem;
    margin-top: 6rem;
    
}
.information-div{
    position: fixed;
    right:  10px;
    top: 12rem;
}



/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
    background-color: aliceblue;


   
}
.arrow-button-container{
    display: flex;
    justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}

.arrow-image{
    height: 5ch;
    color: rgb(71, 42, 35);
    background-color: aliceblue;
    
    

}

































/* ********************  responsive  screen *************** */


 
@media screen and (max-width : 800px ) {
  
    /* *******************  nav ************************** */
 .nav-div{
    
     background-color: black;
 
    position: unset;
     
 }
 
 .nav-container{
     display: flex;
     background-color: black;
     height: 2vh;
 }
 .nav-heading{
     font-size:20px;
     margin-top: 0px;
 }
 .form{
     display: flex;
     flex-wrap: wrap;
     margin-top: 1.5rem;
     font-size: 15px;
     margin-left: 1rem;
     margin-top: 1rem;
 
 }
 .search-input{
     width: 70%;
 }
 
 .nav-links{
     margin-left: -1rem;
 
 font-size: 5x;  
   text-decoration: none;
     color: aliceblue;
 }
 .submit-button{
     background-color: red;
     border-color: black;
     color: aliceblue;
     font-size: 15px;
 }
 .color-change{
     color: red;
 }
 .list-item{
     margin-right: 1rem;
     margin-top: 0px;
     display: flex;
     justify-content: space-between;
     display: flex;
     flex-wrap: wrap;
     
 
     text-decoration: none;
     color: black;
 
 }
 .list{
     font-size:20px;
     margin: 0.5rem;
 
 }
 
 
 
 
 
 .main-div{
     width: 90%;
     margin-top: 0rem;
     margin-left: -3rem;
 }
 
 
 /* **************   list    ************* */
 
 
 .links-div{
 margin-left: 3rem;  
 
     margin-top: 0srem;
 
     width: 100%;
    }
    .link-items{
     font-size: 1rem;
     
    }
 #unorder{
     visibility: hidden;
     display: none;
 
 }
    .list-view-button{
     
     background-color: black;
     visibility: visible;
 }
 .list-view-image{
     height: 5vh;
     width: 100%;
 }
 
 
 
 
 .content-div{
         width: 100%;
         margin-top: 2rem;
         margin-left: 5rem;
         position: relative;
 
 
     }
     .footer{
         visibility: unset;
     }
   .links2-div {
     margin-top: 5rem;
     
     color: black;
     margin-left:-4rem;
     display:grid;
     gap: 20px;
     grid-template-columns: 80px  80px 80px;
     
   }
   .links2-li{
     color: black;
     margin: 5rem;
   }
 
 

 
 
 
 
 
 
 
 
  
 
   .information-div{
         visibility: hidden;
         display: none;
     }
     
    
 
     
 
































/* ******* nav bar **** */

.nav-bar{
    border: 1px solid;
    width: 130%;
    display: flex;
    margin-left: -2rem;
  
}

.icon-nav{
    margin: 0.5rem;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top:-0.5rem;
}
.icon-div{
    margin: 1em;
    display: flex;
    margin-bottom: 2rem;


}
.nav-brand-name{
    font-size: 0.9rem;
    margin-top: -0.1rem;
}
input{
    margin-top: 1rem;
    width: 60%;
    margin-left: 1rem;


}






}
