

.flex{
    display: flex;
    font-size: x-large;
    margin-top: 10rem;
  
    
}
.hero{

      height: 70vh;
     
    
}

.button-started{
    background-color:; 
   font-size: xx-large;
   margin-top: 2rem;
   margin-right: 10rem;
   border: solid black;
   border: 10px solid black
  

   
}
.get-started{
    background-color: black;
    border: 3px solid rgb(248, 39, 39);
    color: aliceblue;
    text-decoration: none;
}
.small-container{
   
    margin-top: 0rem;
    margin-right: 10rem;
    font-size: xx-large;
    max-width: 50%;
   
   

    
}
.banner-heading{
    margin-left: 10rem;
}






















/* *****************nav*********************** */












body{
    color: aliceblue;
    background-color: black;
   
}

/* *******************  nav ************************** */


.footer{
    visibility:hidden;
}
.nav-div{
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100%;
    background-color: rgb(4, 6, 8);
}

.nav-container{
    display: flex;
    background-color: black;
    
}
.nav-heading{
    font-size: 2.5rem;
    margin: 0.8rem;
}
.form{
    margin-left: auto;
    margin-top: 1.4rem;

}
.search-text{
    font-size: 2rem;
}
.search-input{
    height: 4vh;
    padding-top: 0.6rem;
}

.submit-button{
    background-color:red;
    font-size: 1rem;
    padding-top: 0.22rem;
}
.color-change{
    color: red;
}
.docs-text{
    color: red;
}
.github-text{
background-color: red;
padding: 0.2rem;
border-radius: 0.7rem;
}
.list-item{
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  

}
.theme-emoji{
margin-right: 1rem;
margin-top: 0.8rem;
margin-left: 1
rem;
    background-color: red;
    border-radius: 0.5rem;
    padding: 0.05rem;
    
}
.list{
    font-size: 1.5rem;
    margin: 1rem;
    
}
.nav-links{
    text-decoration: none;
    color: aliceblue;
}















/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
    background-color: aliceblue;


   
}
.arrow-button-container{
    display: flex;
    justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}

.arrow-image{
    height: 5ch;
    color: rgb(71, 42, 35);
    background-color: aliceblue;
    
    

}

































/* ********************  responsive  screen *************** */


 
@media screen and (max-width : 800px ) {
  
    /* *******************  nav ************************** */
    .nav-div{
    
        background-color: black;
    
       position: unset;
        
    }
    
    .nav-container{
        display: flex;
        background-color: black;
        height: 2vh;
    }
   
    .nav-heading{
        font-size:2rem;
        display: flex;
       margin: 1rem;
   
    }
    .form{
        margin-left: 2rem;
        margin-top: 1rem;
    
    }
   
    .search-input{
       height: 3.9vh;
       width: 70%;
     
    }
   
    
    .nav-links{
        margin-left: -1rem;
    
      text-decoration: none;
        color: aliceblue;
    }
    .search-text{
       font-size: 1.2rem;
   }
   .search-input{
       height: 3vh;
   
   
       padding-top: 0.6rem;
   }
    .submit-button{
        background-color: red;
        border-color: black;
        color: aliceblue;
        font-size: 0.7rem;
        padding: 0.0rem;
        margin-left: 0.5rem;
   
    }
    .color-change{
        color: red;
        margin-right: 0.5rem;
        
    }
   .nav-links{
       margin: 0.1rem;
       font-size: 0.5em;
   }
    .list{
        font-size:20px;
        margin: 0.5rem;
    
    }
    .list-item{
       margin-top: 6rem;
       margin-left: -5.2rem;
    }
    .theme-emoji{
       padding: 0;
   margin-top: 0.4rem;
   margin-left: 0rem;
   margin-right: 0rem;
   
       
    }
   



 
.banner-heading{
    margin-left: 0rem;

}
.hero{
        height: 27vh;
    

}

.flex{
    display: grid;
    font-size: x-large;
    margin-top: 10rem;
  
    
}

.button-started{
    background-color:; 
   font-size: x-large;
   margin-top: 2rem;
   margin-right: 10rem;
   border: solid black;
   border: 10px solid black
  

   
}
 
     
 } 













