iframe {
    width: 50vw;
    height: 150px;

    margin: 1.5rem;
    margin-left: 0rem;
}


/* *****************nav*********************** */












body {
    color: aliceblue;
    background-color: black;

}

/* *******************  nav ************************** */


.footer {
    display: none;
}

.nav-div {
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100%;
    background-color: rgb(4, 6, 8);
    z-index: 5;
}

.nav-container {
    display: flex;
    background-color: black;

}

.home-link-tag {
    color: white;
    text-decoration: none;
}

.nav-heading {
    font-size: 2.5rem;
    margin: 0.8rem;
}

.form {
    margin-left: auto;
    margin-top: 1.4rem;

}

.search-text {
    font-size: 2rem;
}

.search-input {
    height: 4vh;
    padding-top: 0.6rem;
}

.submit-button {
    background-color: red;
    font-size: 1rem;
    padding-top: 0.22rem;
}

.color-change {
    color: red;
}

.docs-text {
    color: red;
}

.github-text {
    background-color: red;
    padding: 0.2rem;
    border-radius: 0.7rem;
}

.list-item {
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;


}

.theme-emoji {
    margin-right: 1rem;
    margin-top: 0.8rem;
    margin-left: 1 rem;
    background-color: red;
    border-radius: 0.5rem;
    padding: 0.05rem;

}

.list {
    font-size: 1.5rem;
    margin: 1rem;

}

.nav-links {
    text-decoration: none;
    color: aliceblue;
}













/* ********************       main div         ******************************* */


.main-div {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 80% 30% 30%;
}


.links-div {
    margin-top: 2.5rem;
    position: fixed;
    border-right: 0.2px solid white;
}

#unorder {
    font-size: 1.5rem;
    margin: 1rem;
    color: black;

}

.link-items {
    text-decoration: none;
    color: white;
}

.link-items-li:hover {
    background-color: rgb(196, 18, 18);
}

.active-link {
    background-color: rgb(196, 18, 18);
}

.content-div {
    margin-left: 20rem;
    margin-top: 6rem;

}

.information-div {
    position: fixed;
    right: 10px;
    top: 12rem;
}



/* ***************arrow button************ */

.arrow-button-1 {
    font-size: 2rem;
    left: 0px;
    color: rgb(224, 38, 38);
    text-decoration: none;

}

.arrow-button-2 {
    font-size: 2rem;
    right: 0px;
    color: rgb(224, 38, 38);
    text-decoration: none;
    background-color: aliceblue;



}

.arrow-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 3rem;


}

.arrow-image {
    height: 5ch;
    color: rgb(71, 42, 35);



}





/* // *******************  slider (using button)               ********************************* */








.images-slide {
    height: 50vh;
    width: 100%;
}

.slides {
    display: none;
}

.arrow-button-slides1 {
    font-size: 1rem;
    left: 0px;
    color: rgb(224, 38, 38);
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 50%;
    cursor: pointer;

}

.arrow-button-slides2 {
    font-size: 1rem;
    right: 0px;
    color: rgb(224, 38, 38);
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    right: 0x;
    cursor: pointer;




}

.slide-show-container {

    position: relative;
}







.slides2 {
    display: none;
}





/* // *******************  slider (using dots)               ********************************* */

.slides3 {
    display: none;
}




.dot-slide-div {
    position: relative;
}

.dot-button-div {
    position: absolute;
    cursor: pointer;

    top: 90%;
    left: 50%;
    /* transform: translateX(-50%); */
}

.dot-button-slides {
    border-radius: 50%;
    cursor: pointer;

    height: 3vh;
    width: 10%;
}

.dot-button-slides:focus{
   
    background-color:black;
}




































/* ********************  responsive  screen *************** */



@media screen and (max-width : 800px) {

    /* *******************  nav ************************** */
    .nav-div {

        background-color: black;

        position: unset;

    }

    .nav-container {
        display: flex;
        background-color: black;
        height: 2vh;
    }

    .nav-heading {
        font-size: 2rem;
        display: flex;
        margin: 1rem;

    }

    .form {
        margin-left: 2rem;
        margin-top: 1rem;

    }

    .search-input {
        height: 3.9vh;
        width: 70%;

    }


    .nav-links {
        margin-left: -1rem;

        text-decoration: none;
        color: aliceblue;
    }

    .search-text {
        font-size: 1.2rem;
    }

    .search-input {
        height: 3vh;


        padding-top: 0.6rem;
    }

    .submit-button {
        background-color: red;
        border-color: black;
        color: aliceblue;
        font-size: 0.7rem;
        padding: 0.0rem;
        margin-left: 0.5rem;

    }

    .color-change {
        color: red;
        margin-right: 0.5rem;

    }

    .nav-links {
        margin: 0.1rem;
        font-size: 0.5em;
    }

    .list {
        font-size: 20px;
        margin: 0.5rem;

    }

    .list-item {
        margin-top: 6rem;
        margin-left: -5.2rem;
    }

    .theme-emoji {
        padding: 0;
        margin-top: 0.4rem;
        margin-left: 0rem;
        margin-right: 0rem;


    }






    .main-div {
        width: 90%;
        margin-top: 0rem;
        margin-left: -3rem;
    }


    /* **************   list    ************* */


    .links-div {
        margin-left: 3rem;

        margin-top: 0srem;

        width: 100%;
    }

    .link-items {
        font-size: 1rem;

    }

    #unorder {
        visibility: hidden;
        display: none;

    }

    .list-view-button {

        background-color: black;
        visibility: visible;
    }

    .list-view-image {
        height: 5vh;
        width: 100%;
    }




    .content-div {
        width: 100%;
        margin-top: 2rem;
        margin-left: 5rem;



    }

    .footer {
        display: unset;
    }

    .links2-div {
        margin-top: 5rem;

        color: black;
        margin-left: -4rem;
        display: grid;
        gap: 20px;
        grid-template-columns: 80px 80px 80px;

    }

    .links2-li {
        color: black;
        margin: 5rem;
    }




    .information-div {
        visibility: hidden;
        display: none;
    }




    /* // *******************  slider (using button)               ********************************* */








    .images-slide {
        height: 30vh;
        width: 100%;
    }

    .slides {
        display: none;
    }

    .arrow-button-slides1 {
        font-size: 1rem;
        left: 0px;
        color: rgb(224, 38, 38);
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 0px;

    }

    .arrow-button-slides2 {
        font-size: 1rem;
        right: 0px;
        color: rgb(224, 38, 38);
        text-decoration: none;
        background-color: aliceblue;
        position: absolute;
        top: 50%;
        right: 0x;




    }

    .slide-show-container {

        position: relative;
    }





    /* // *******************  slider (using button)               ********************************* */


    .slides2 {
        display: none;
    }





}