/* *****************nav*********************** */


.card1{
    border: 2px solid rgb(239, 246, 247);
    background-color: rgb(235, 12, 12);
    width: 50%;
    text-align: center;
}
.card2{
    position: relative;
    border: 1px solid black;
    width: 35%;
    
  }
 
  .card2-text{
      color: rgb(78, 11, 11)
      ;
      position: absolute;
      top: 5rem;
      left: 50px;

  }
  




.card3{
    border: 5px solid rgb(247, 233, 233);
    background-color: rgb(245, 219, 219);
    position: relative;
   
    width: 60%;
    height: 50vh;
}
.card3-img{
    height: 25ch;
    margin-left: 2rem;
    margin-top: 1rem;
}
.card3-div1{
  
    display: flex;
    justify-content: space-between;
}
.card3-text{
    margin-right: 2rem;
    color: rgb(4, 6, 8);
}
.card3-button1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 45%;

    color: white;
    
    background-color: orangered;

    font-size: xx-large;
    
}
.card3-button2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 55%;
    color: white;

    background-color: orangered;
    
    font-size: xx-large;
    
}
.button-x{
    font-size: larger;
border: 1px solid black;
border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 1px;
}


.card4{
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    box-shadow: 5px 2px 2px 20px rgb(177, 86, 59);
    border: 1px solid black;
    background-color: white;
    position: relative;
   
    width: 60%;
    height: 50vh;
   
}
.card5{
    margin-top: 5rem;
    margin-bottom: 5rem;
    

    border: 5px solid rgb(14, 3, 3);
    background-color: white;
    position: relative;
   
    width: 35%;
   
}
.card5-img{
    height: 25ch;
    margin-left: 2rem;
    margin-top: 1rem;
}



.card5-div1{
    display: flex;
    justify-content: space-between;
}
.card5-text{
color: black; 
   margin-left: 1rem;
    margin-bottom: 2rem;
}
.card5-button1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 55%;

    color: white;
    
    background-color: orangered;

    font-size: large;
    
}
.card5-button2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 45%;
    color: white;

    background-color: orangered;
    
    font-size: large;
    
}








/* *****************nav*********************** */












body{
    color: aliceblue;
    background-color: black;
   
}

/* *******************  nav ************************** */


.footer{
    visibility:hidden;
}
.nav-div{
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100%;
    background-color: rgb(4, 6, 8);
}

.nav-container{
    display: flex;
    background-color: black;
    
}
.nav-heading{
    font-size: 2.5rem;
    margin: 0.8rem;
}
.form{
    margin-left: auto;
    margin-top: 1.4rem;

}
.search-text{
    font-size: 2rem;
}
.search-input{
    height: 4vh;
    padding-top: 0.6rem;
}

.submit-button{
    background-color:red;
    font-size: 1rem;
    padding-top: 0.22rem;
}
.color-change{
    color: red;
}
.docs-text{
    color: red;
}
.github-text{
background-color: red;
padding: 0.2rem;
border-radius: 0.7rem;
}
.list-item{
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  

}
.theme-emoji{
margin-right: 1rem;
margin-top: 0.8rem;
margin-left: 1
rem;
    background-color: red;
    border-radius: 0.5rem;
    padding: 0.05rem;
    
}
.list{
    font-size: 1.5rem;
    margin: 1rem;
    
}
.nav-links{
    text-decoration: none;
    color: aliceblue;
}






/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 15vh;
    background-color: black;
    color: bisque;
}









/* ********************       main div         ******************************* */


.main-div{
    display: grid;
    margin-top: 5rem;
    grid-template-columns:  80% 30% 30%;
}


.links-div{
   margin-top: 3rem; 
    position: fixed;
}

#unorder{
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    
}
.link-items{
    text-decoration: none;
    color: white;
}
.content-div{
    margin-left: 20rem;
    margin-top: 6rem;
    
}
.information-div{
    position: fixed;
    right:  10px;
    top: 12rem;
}



/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
    background-color: aliceblue;


   
}
.arrow-button-container{
    display: flex;
    justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}

.arrow-image{
    height: 5ch;
    color: rgb(71, 42, 35);
    background-color: aliceblue;
    
    

}

































/* ********************  responsive  screen *************** */


 
@media screen and (max-width : 800px ) {
  
    /* *******************  nav ************************** */
  .nav-div{
    
     background-color: black;
 
    position: unset;
     
 }
 
 .nav-container{
     display: flex;
     background-color: black;
     height: 2vh;
 }

 .nav-heading{
     font-size:2rem;
     display: flex;
    margin: 1rem;

 }
 .form{
     margin-left: 2rem;
     margin-top: 1rem;
 
 }

 .search-input{
    height: 3.9vh;
    width: 70%;
  
 }

 
 .nav-links{
     margin-left: -1rem;
 
   text-decoration: none;
     color: aliceblue;
 }
 .search-text{
    font-size: 1.2rem;
}
.search-input{
    height: 3vh;


    padding-top: 0.6rem;
}
 .submit-button{
     background-color: red;
     border-color: black;
     color: aliceblue;
     font-size: 0.7rem;
     padding: 0.0rem;
     margin-left: 0.5rem;

 }
 .color-change{
     color: red;
     margin-right: 0.5rem;
     
 }
.nav-links{
    margin: 0.1rem;
    font-size: 0.5em;
}
 .list{
     font-size:20px;
     margin: 0.5rem;
 
 }
 .list-item{
    margin-top: 6rem;
    margin-left: -5.2rem;
 }
 .theme-emoji{
    padding: 0;
margin-top: 0.4rem;
margin-left: 0rem;
margin-right: 0rem;

    
 }

 
 
 
 
 
 .main-div{
     width: 90%;
     margin-top: 0rem;
     margin-left: -3rem;
 }
 
 
 /* **************   list    ************* */
 
 
 .links-div{
 margin-left: 3rem;  
 
     margin-top: 0srem;
 
     width: 100%;
    }
    .link-items{
     font-size: 1rem;
     
    }
 #unorder{
     visibility: hidden;
     display: none;
 
 }
    .list-view-button{
     
     background-color: black;
     visibility: visible;
 }
 .list-view-image{
     height: 5vh;
     width: 100%;
 }
 
 
 
 
 .content-div{
         width: 100%;
         margin-top: 2rem;
         margin-left: 5rem;
         position: relative;
 
 
     }
     .footer{
         visibility: unset;
     }
   .links2-div {
     margin-top: 5rem;
     
     color: black;
     margin-left:-4rem;
     display:grid;
     gap: 20px;
     grid-template-columns: 80px  80px 80px;
     
   }
   .links2-li{
     color: black;
     margin: 5rem;
   }
 
 

 
 
 
 
 
 
 
 
  
 
   .information-div{
         visibility: hidden;
         display: none;
     }
     
    
 
     
 










.card1{
    border: 3px solid rgb(243, 229, 229);
    width: 100%;
    text-align: center;
}
.card2{
    width: 80%;
    margin-left: -1rem;
}

.card2-text{
    text-align: center;
    color: rgb(78, 11, 11)
    ;
    height: 20vh;
    width: 80%;
    position: absolute;
    top: 5rem;
    left: 2.8rem;

}




/* ***************card3************ */

.card3{
    border: 1px solid rgb(241, 214, 214);
    background-color: white;
    position: relative;
   
    width: 100%;
    height: 55vh;
    margin-left: -1.5rem;
}
.card3-img{
    height: 20vh;
    width: 90%;
    margin: 1rem;
    margin-left: 0rem;
}
.card3-text{
    margin-right: -1rem;
}



.card4{
    border: 1px solid black;
    background-color: white;
    position: relative;
   
    width: 100%;
    height: 50vh;
    margin-left: -1rem;
}



.card5{
    margin-top: 5rem;
    margin-bottom: 5rem;
    

    border: 1px solid black;
    background-color: white;
    position: relative;
   
    width: 90%;
    /* height: 50vh; */
   
}
.card5-text{
    /* margin-right: 2rem; */
    margin-left: 1rem;
    margin-bottom: 5rem;
}


}