


/* *******************image avatar ******** */


.avatar-png{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 1rem;
}
.avatars{
    height: 7ch;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *******************with content avatar ******** */

.avatar-png2{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars2{
    height: 18ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *******************different sizes  of avatar ******** */

.avatar-png3{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars31{
    height: 3ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars32{
    height: 5ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars33{
    height: 8ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars34{
    height: 11ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}

/* *******************profile avatar ******** */

.avatar-png2{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars4{
    height: 18ch;
    margin: 2.5rem;
    border: 1px solid black;
    /* border-radius: 40%; */
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatar-4-div{
    display: flex;
}
.avatars5{
    margin: 2rem;
}
.right-click{
    color: rgb(235, 241, 243);
     border: 1px solid black; 
    background-color: rgb(27, 16, 184);


}







































/* *****************nav*********************** */












body{
    color: aliceblue;
    background-color: black;
   
}

/* *******************  nav ************************** */


.footer{
  display: none;
}
.nav-div{
    position: fixed;
    top: 0px;
    height: 15vh;
    width: 100%;
    background-color: rgb(4, 6, 8);
    z-index: 5;
}

.nav-container{
    display: flex;
    background-color: black;
    
}.home-link-tag{
    color: white;
 text-decoration: none;
}
.nav-heading{
    font-size: 2.5rem;
    margin: 0.8rem;
}
.form{
    margin-left: auto;
    margin-top: 1.4rem;

}
.search-text{
    font-size: 2rem;
}
.search-input{
    height: 4vh;
    padding-top: 0.6rem;
}

.submit-button{
    background-color:red;
    font-size: 1rem;
    padding-top: 0.22rem;
}
.color-change{
    color: red;
}
.docs-text{
    color: red;
}
.github-text{
background-color: red;
padding: 0.2rem;
border-radius: 0.7rem;
}
.list-item{
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  

}
.theme-emoji{
margin-right: 1rem;
margin-top: 0.8rem;
margin-left: 1
rem;
    background-color: red;
    border-radius: 0.5rem;
    padding: 0.05rem;
    
}
.list{
    font-size: 1.5rem;
    margin: 1rem;
    
}
.nav-links{
    text-decoration: none;
    color: aliceblue;
}





/* ****************text area************ */




iframe{
  width: 50vw;
    height: 150px;

margin: 1.5rem;
margin-left: 0rem;   
}









/* ********************       main div         ******************************* */


.main-div{
    display: grid;
    margin-top: 5rem;
    grid-template-columns:  80% 30% 30%;
}


.links-div{
   margin-top: 2.5rem; 
    position: fixed;
    border-right: 0.2px solid white;
}

#unorder{
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    
}
.link-items{
    text-decoration: none;
    color: white;
}
.link-items-li:hover{
    background-color: rgb(196, 18, 18);
}   .active-link{
    background-color: rgb(196, 18, 18);
}
.content-div{
    margin-left: 20rem;
    margin-top: 6rem;
    
}
.information-div{
    position: fixed;
    right:  10px;
    top: 12rem;
}



/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;
    background-color: aliceblue;


   
}
.arrow-button-container{
    display: flex;
    justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}

.arrow-image{
    height: 5ch;
    color: rgb(71, 42, 35);
    background-color: aliceblue;
    
    

}




















































/* ********************  responsive  screen *************** */


 
@media screen and (max-width : 800px ) {
  
    /* *******************  nav ************************** */
  .nav-div{
    
     background-color: black;
 
    position: unset;
     
 }
 
 .nav-container{
     display: flex;
     background-color: black;
     height: 2vh;
 }

 .nav-heading{
     font-size:2rem;
     display: flex;
    margin: 1rem;

 }
 .form{
     margin-left: 2rem;
     margin-top: 1rem;
 
 }

 .search-input{
    height: 3.9vh;
    width: 70%;
  
 }

 
 .nav-links{
     margin-left: -1rem;
 
   text-decoration: none;
     color: aliceblue;
 }
 .search-text{
    font-size: 1.2rem;
}
.search-input{
    height: 3vh;


    padding-top: 0.6rem;
}
 .submit-button{
     background-color: red;
     border-color: black;
     color: aliceblue;
     font-size: 0.7rem;
     padding: 0.0rem;
     margin-left: 0.5rem;

 }
 .color-change{
     color: red;
     margin-right: 0.5rem;
     
 }
.nav-links{
    margin: 0.1rem;
    font-size: 0.5em;
}
 .list{
     font-size:20px;
     margin: 0.5rem;
 
 }
 .list-item{
    margin-top: 6rem;
    margin-left: -5.2rem;
 }
 .theme-emoji{
    padding: 0;
margin-top: 0.4rem;
margin-left: 0rem;
margin-right: 0rem;

    
 }

 
 
 
 
 
 .main-div{
     width: 90%;
     margin-top: 0rem;
     margin-left: -3rem;
 }
 
 
 /* **************   list    ************* */
 
 
 .links-div{
 margin-left: 3rem;  
 
     margin-top: 0srem;
 
     width: 100%;
    }
    .link-items{
     font-size: 1rem;
     
    }
 #unorder{
     visibility: hidden;
     display: none;
 
 }
    .list-view-button{
     
     background-color: black;
     visibility: visible;
 }
 .list-view-image{
     height: 5vh;
     width: 100%;
 }
 
 
 
 
 .content-div{
         width: 100%;
         margin-top: 2rem;
         margin-left: 5rem;
         position: relative;
 
 
     }
      .footer{
        display: unset;
     }
   .links2-div {
     margin-top: 5rem;
     
     color: black;
     margin-left:-4rem;
     display:grid;
     gap: 20px;
     grid-template-columns: 80px  80px 80px;
     
   }
   .links2-li{
     color: black;
     margin: 5rem;
   }


   
 
 

 
 
 
 
 
 
 
 
  
 
   .information-div{
         visibility: hidden;
         display: none;
     }
     



















     

/* *******************image avatar ******** */


.avatar-png{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 1rem;
}
.avatars{
    height: 5ch;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *******************with content avatar ******** */

.avatar-png2{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars2{
    height: 13ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}



.avatar-png2-text{
    margin-left: 2rem;

}

/* *******************different sizes  of avatar ******** */

.avatar-png3{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars31{
    display: none;
}
.avatars32{
    height: 3ch;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars33{
    height: 5ch;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars34{
    height: 8ch;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}

/* *******************profile avatar ******** */

.avatar-png3{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    
   
}
.avatars4{
    height: 10ch;
    margin: 0.5rem;
    margin-left: 8rem;
    border: 1px solid black;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatar-4-div{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
}
.avatars5{
    margin: -6rem;
    margin-right:8rem;
}
.right-click{
    color: rgb(235, 241, 243);
     border: 1px solid black; 
    background-color: rgb(27, 16, 184);



}
.avatar4-pic{
    margin-left: -4rem;

}



























    
 
     
 } 
