/* *****************nav*********************** */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Koulen&family=Oswald:wght@300;500&family=Poppins:wght@300&display=swap');



body{
    background-color: antiquewhite;
    font-family: 'EB Garamond', serif;
    font-size: x-large;

 
}
.nav-heading{
    font-size: 2.5rem;
    color: rgb(212, 45, 45);
    margin-right: 2rem;
    margin-top: 0px;
    

}

h1{
    color: rgb(212, 45, 45);
}
.header{
 

    display: flex;
    position: fixed;

   
   
}

.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: rgb(212, 45, 45);

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: rgb(212, 45, 45);

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
    
   
}

.link-items{
    font-size: 1.5rem;
    text-decoration: none;
    color: brown;

    
}
.unorder{
 
    list-style: none;
    position: fixed;
    top: 4rem;
  
}

.links-div{
  
margin-top: 0%;

}

.content-div{
   
    margin-top: 4rem;

}


p{
    font-size: x-large;
}









/* ****************alert1 box div************ */
#error-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#warning-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#info-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#success-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
.alert1-container{
    display: flex;
}
.alert-types{
    font-size: xx-large;
}
#output1-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(204, 51, 51);
}
#output2-div{
    font-size: xx-large;
    color: black;
    background-color: yellow;
}
#output3-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(50, 50, 226);
}
#output4-div{
    font-size: xx-large;
    color: white;
    background-color: green;
}
